body {
  border: 1px solid black;
  width: 320px;
  height: 660px;
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
  margin-top: 30px;
  /* position: relative;
  z-index: 100; */
}

.page-header {
  border: 1px solid #e66055;
  background-color: #e66055;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 40px 20px 65px 20px;
}

.page-header__name {
  font-size: 30px;
  font-weight: 700;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(240, 236, 227);
  border-radius: 20px;
  background-color: rgb(240, 236, 227);
  width: 280px;
  height: 40px;
  margin: 0 auto;
  position: relative;
  bottom: 30px;
}

.search-text {
  padding: 20px;
}

.search-icon {
  padding: 20px;
}

section {
  padding: 10px 20px 20px 20px;
}

h2 {
  font-size: 20px;
  font-weight: 650;
  /* margin-bottom: 15px; */
}

.cover:first-child {
  width: 100px;
  height: 130px;
}

.todayBook-content {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 5px;
}

.todayBook-score {
  font-size: 12px;
}

.todayBook-text,
.popular-text {
  margin-left: 10px;
}

.todayBook-title,
.popular-title {
  font-size: 14px;
  font-weight: 550;
  margin-bottom: 5px;
}

.todayBook-detail,
.popular-detail {
  font-size: 10px;
  color: lightslategray;
  margin-bottom: 10px;
}

.todayBook-types {
  display: flex;
  flex-direction: row;
}

.todayBook-type1,
.todayBook-type2 {
  border: 1px solid rgb(190, 225, 236);
  background-color: rgb(190, 225, 236);
  font-weight: 550;
  padding: 4px;
  margin: 5px;
  text-align: center;
  font-size: 9px;
  color: rgba(56, 56, 56, 0.87);
  position: relative;
  right: 5px;
  top: 5px;
  margin-bottom: 13px;
}

.todayBook-button {
  display: flex;
  flex-direction: row;
}

.todayBook-button__bookmark {
  border: 1px solid #e66055;
  background-color: #e66055;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  padding: 9px;
  margin-right: 25px;
}

.todayBook-button__bookmark i {
  font-size: small;
  display: flex;
  justify-content: center;
  align-content: center;
}

.todayBook-button__booking {
  border: 1px solid #626262;
  border-radius: 5px;
  background-color: #626262;
  padding: 7px 19px 7px 19px;
  margin: 10px;
  color: white;
  font-size: 10px;
  text-align: center;
  position: relative;
  right: 20px;
  bottom: 8px;
}

.adventures {
  margin-bottom: 15px;
}

.adventures-content {
  display: flex;
  flex-direction: row;
  width: 100px;
}

.adventures-book {
  margin-top: 15px;
  padding-right: 15px;
}

.adventures-book .cover {
  width: 80px;
  height: 90px;
  /* position: absolute;
  z-index: -100; */
}

.popular-content .cover {
  width: 80px;
  height: 85px;
}

.popular-content {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.cover:nth-child(6) {
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

.adventures-book__score {
  font-size: 10px;
}
